.home__category__wrapper {
  font-size: 16px;
  width: 80%;
  margin: 0 auto;
  padding: 2em;
  border-radius: 10px;
  margin-top: 3em;
  box-shadow: 0px 20px 20px 0px #1a1a1a1a;
}
.home__category__wrapper .category__header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.category__image {
  border-radius: 50%;
  overflow: hidden;
  width: 30%;
}
.category__name {
  position: relative;
  font-weight: bold;
  font-size: 2em;
  text-decoration: underline;
  text-transform: uppercase;
  line-height: 1;
  cursor: pointer;
  transition: transform 1s ease-in-out !important;
  @supports (background-clip: text) or (-webkit-background-clip: text) {
    background-image: url("data:image/svg+xml,%3Csvg width='2250' height='900' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg%3E%3Cpath fill='%2300A080' d='M0 0h2255v899H0z'/%3E%3Ccircle cx='366' cy='207' r='366' fill='%2300FDCF'/%3E%3Ccircle cx='1777.5' cy='318.5' r='477.5' fill='%2300FDCF'/%3E%3Ccircle cx='1215' cy='737' r='366' fill='%23008060'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-size: 110% auto;
    background-position: center;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }
}
.category__name::after {
  content: "";
  width: 0%;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 5%;
  background: #96ffc9;
  transition: width 1s ease-in-out !important;
}
.home__category__wrapper:hover .category__name {
  transform: scale(1.05);
}
.home__category__wrapper:hover .category__header .category__name::after {
  width: 90%;
}

.category__products__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-top: 2em;
}
.category__product__sample {
  width: 20%;
  border-radius: 8px;
  overflow: hidden;
}
